<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hairsalonbookingapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="E Barber"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HairSalonBookingApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"/>
        <activity android:name=".Login"/>
        <activity android:name=".OnBoardingActivity"/>
        <activity android:name=".Home"/>
        <activity android:name=".Barberlogin"/>
        <activity android:name=".Appointment"/>
        <activity android:name=".Services"/>
        <activity android:name=".Notification"/>
        <activity android:name=".Barber"/>
        <activity android:name=".Trends"/>

        <activity android:name=".Barberhome"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
<!--            android:resource="@array/preloaded_fonts" />-->
<!--        <service-->
<!--            android:name=".YourFirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <receiver-->
<!--            android:name=".YourFirebaseMessagingReceiver"-->
<!--            android:exported="true"-->
<!--            android:permission="com.google.android.c2dm.permission.SEND">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
<!--                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->
<!--                <category android:name="your.package.name" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>



</manifest>